@{
    ViewBag.Title = "About";
}

<p>@TempData["HelloWorld"]</p>
<p>@ViewData["HelloCSharp"]</p>
<p>Use this area to provide additional information.</p>
@section scripts {
    <script type="text/javascript">alert('about me');</script>
}